<div class="card">
  <div class="card-header">
    <h3>Add New Seller</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <!-- Name -->
        <div class="col-md-4 mb-3">
          <label for="name" class="form-label">Seller Name <span class="text-danger">*</span></label>
          <input id="name" type="text" class="form-control" formControlName="name"
            [ngClass]="{ 'is-invalid': sellerForm.get('name')?.invalid && sellerForm.get('name')?.touched }" />
          <div class="invalid-feedback"
            *ngIf="sellerForm.get('name')?.touched && sellerForm.get('name')?.hasError('required')">
            Name is required.
          </div>
          <div class="invalid-feedback" *ngIf="sellerForm.get('name')?.hasError('minlength')">
            Name must be at least 3 characters.
          </div>
        </div>

                <!-- Shop Name -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Shop Name <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="shop_name"
            [ngClass]="{ 'is-invalid': sellerForm.get('shop_name')?.invalid && sellerForm.get('shop_name')?.touched }" />
          <div class="invalid-feedback"
            *ngIf="sellerForm.get('shop_name')?.touched && sellerForm.get('shop_name')?.hasError('required')">
            Shop name is required.
          </div>
        </div>

                <!-- Business Category -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Business Category <span class="text-danger">*</span></label>
          <select class="form-select" formControlName="business_category"
            [ngClass]="{ 'is-invalid': sellerForm.get('business_category')?.invalid && sellerForm.get('business_category')?.touched }">
            <option value="" disabled selected>Select Category</option>
            <option *ngFor="let category of bussinessCategories" [value]="category.name ">
              {{ category.name }}
            </option>
          </select>
          <div class="invalid-feedback"
            *ngIf="sellerForm.get('business_category')?.touched && sellerForm.get('business_category')?.hasError('required')">
            Business category is required.
          </div>
        </div>

        <!-- Gender -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Gender</label>
          <select class="form-select" formControlName="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <!-- Mobile -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Mobile <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="mobile" maxlength="10"
            [ngClass]="{ 'is-invalid': sellerForm.get('mobile')?.invalid && sellerForm.get('mobile')?.touched }" />
          <div class="invalid-feedback"
            *ngIf="sellerForm.get('mobile')?.touched && sellerForm.get('mobile')?.hasError('required')">
            Mobile is required.
          </div>
          <div class="invalid-feedback"
            *ngIf="sellerForm.get('mobile')?.hasError('minlength') || sellerForm.get('mobile')?.hasError('maxlength')">
            Mobile must be 10 digits.
          </div>
        </div>

        <!-- Email -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>

                <!-- GST Number -->
        <div class="col-md-4 mb-3">
          <label class="form-label">GST Number</label>
          <input type="text" class="form-control" formControlName="gst_number" />
        </div>

                <!-- Country -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Country</label>
          <input type="text" class="form-control" formControlName="country" />
        </div>

        <!-- State -->
        <div class="col-md-4 mb-3">
          <label class="form-label">State</label>
          <input type="text" class="form-control" formControlName="state" />
        </div>

        <!-- City -->
        <div class="col-md-4 mb-3">
          <label class="form-label">City</label>
          <input type="text" class="form-control" formControlName="city" />
        </div>

        <!-- Pincode -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Pincode</label>
          <input type="text" class="form-control" formControlName="pincode" />
        </div>

                        <!-- Status -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Status <span class="text-danger">*</span></label>
          <select class="form-select" formControlName="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="blocked">Blocked</option>
          </select>
        </div>

        <!-- Address -->
        <div class="col-md-12 mb-3">
          <label class="form-label">Address</label>
          <textarea type="text" class="form-control" formControlName="address"></textarea>
        </div>



        <!-- GST Registration Type -->
        <!-- <div class="col-md-6 mb-3">
          <label class="form-label">GST Registration Type</label>
          <select class="form-select" formControlName="gst_registration_type">
            <option value="Regular">Regular</option>
            <option value="Composition">Composition</option>
            <option value="Unregistered">Unregistered</option>
            <option value="Exempted">Exempted</option>
          </select>
        </div> -->

        <!-- Profile Image -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Profile Image <span class="text-danger">*</span></label>
          <input type="file" class="form-control" accept="image/*" (change)="onProfileSelected($event)"
            [ngClass]="{ 'is-invalid': sellerForm.get('profile_image')?.invalid && sellerForm.get('profile_image')?.touched && !selectedProfileFile }" />
          <div *ngIf="profilePreview" class="mt-2">
            <img [src]="profilePreview" alt="Profile Preview" class="img-thumbnail" style="max-height: 150px" />
          </div>
          <div class="invalid-feedback d-block"
            *ngIf="sellerForm.get('profile_image')?.invalid && sellerForm.get('profile_image')?.touched && !selectedProfileFile">
            Profile image is required.
          </div>
        </div>

        <!-- Logo -->
        <div class="col-md-4 mb-3">
          <label class="form-label">Shop Logo <span class="text-danger">*</span></label>
          <input type="file" class="form-control" accept="image/*" (change)="onLogoSelected($event)"
            [ngClass]="{ 'is-invalid': sellerForm.get('logo')?.invalid && sellerForm.get('logo')?.touched && !selectedLogoFile }" />
          <div *ngIf="imagePreview" class="mt-2">
            <img [src]="imagePreview" alt="Logo Preview" class="img-thumbnail" style="max-height: 150px" />
          </div>
          <div class="invalid-feedback d-block" *ngIf="uploadError">
            {{ uploadError }}
          </div>
          <div class="invalid-feedback d-block"
            *ngIf="sellerForm.get('logo')?.invalid && sellerForm.get('logo')?.touched && !selectedLogoFile">
            Logo is required.
          </div>
        </div>

        


      </div>

      <!-- Submit Button -->
      <div class="text-center">
        <button class="btn btn-primary primary" type="submit" [disabled]="isSubmitting || sellerForm.invalid">
          {{ isSubmitting ? "Submitting..." : "Create Seller" }}
        </button>
      </div>
    </form>
  </div>
</div>