<app-widgets-dropdown
  [allProductCount]="dashboardCounts.allProductCount"
  [totalEarnings]="dashboardCounts.totalEarnings"
  [allOrderCount]="dashboardCounts.allOrderCount"
  [pendingOrderCount]="dashboardCounts.pendingOrderCount"
  [confirmedOrderCount]="dashboardCounts.confirmedOrderCount"
  [shippedOrderCount]="dashboardCounts.shippedOrderCount"
  [deliveredOrderCount]="dashboardCounts.deliveredOrderCount"
  [cancelledOrderCount]="dashboardCounts.cancelledOrderCount"
  [returnOrderCount]="dashboardCounts.returnOrderCount"
  [outOfDeliveryCount]="dashboardCounts.outOfDeliveryCount"
  (statusSelected)="onStatusFilter($event)">
</app-widgets-dropdown>

<section class="order-list-wrapper" #orderListSection>
  <app-order-list [status]="selectedStatus"></app-order-list>
</section>
