<div class="card" *ngIf="!isLoading && category; else loadingOrError">
  <div class="card-header">
    <h3>Category Details</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Image:</strong><br />
          <span class="image-view">
            <img
              [src]="category.image"
              alt="{{ category.name }}"
            />
          </span>
        </p>
      </div>
      <div class="col-md-6 d-flex flex-column">
        <p><strong>Name:</strong> {{ category.name }}</p>
        <p>
          <strong>Status: </strong
          ><span
            class="badge"
            [ngClass]="{
              'bg-success': category.status === 'active',
              'bg-danger': category.status === 'inactive'
            }"
            >{{ category.status | titlecase }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <div class="text-center p-4" *ngIf="isLoading">
    <p>Loading category data...</p>
  </div>
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
</ng-template>
