/* You can add global styles to this file, and also import other style files */

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "theme";

// Some temp fixes
//@use "fixes";

// If you want to add custom CSS you can put it here.
@use "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@use "examples";

.ck-editor__editable_inline {
  min-height: 250px;
}

//sidebar
.sidebar-nav .nav-link {
  color: white;
}
.sidebar-nav .nav-title {
  color: #fff;
}
.sidebar-nav .nav-link .nav-icon,
.sidebar-nav .nav-link i {
  color: white;
}
.sidebar-nav .nav-link:hover {
  background-color: #0c8ce9;
}

.sidebar-nav .nav-link.active {
  background-color: #3468a7;
  color: #fff;
}

.static_pages-container {
  padding: 1rem;
  margin: auto;
}

.static_pages-tabs {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 1rem;
  gap: 1.5rem;
  font-size: 0.95rem;
  font-weight: 500;
}

.static_pages-tab-btn {
  padding-bottom: 0.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #4b5563; /* Gray */
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.static_pages-tab-btn:hover {
  color: #2563eb; /* Hover blue */
}

.static_pages-tab-btn.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
}

.static_pages-content {
  text-align: right;
}
.static_pages-content {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.static_pages-heading {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  text-transform: capitalize;
}

.static_pages-update-btn {
  margin-top: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.static_pages-loading {
  padding: 1rem;
  color: #6b7280;
}
.static_pages-editor .ck-editor__editable_inline {
  min-height: 100px;
  max-height: 500px;
  overflow-y: auto;
}

.form-label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}
.previewImgDiv {
  width: fit-content;
  padding: 15px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

//widgets

.dashboard-stat {
  border: 1px solid #2563eb;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(175, 171, 171, 0.05);
  padding: 1.2rem;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  height: 100%;
}

.dashboard-stat:hover {
  box-shadow: 0 4px 12px rgba(146, 144, 144, 0.1);
}

.dashboard-icon {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.dashboard-title {
  font-weight: 500;
  color: #444;
  margin-bottom: 0.25rem;
}

.dashboard-value {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.table-bordered {
  border: 1px solid #d0e7ff !important; /* Very light blue */
}

/* Apply same border to table header and all cells */
.table-bordered th,
.table-bordered td {
  border: 1px solid #d0e7ff !important;
}

.sd-btn {
  background-color: #1d4ed8;
  color: white;
}

.pagination-ul {
  border: 1px solid #d0e7ff;
}

// all components view
.image-view {
  display: inline-block;
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.image-view img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

// all component table-img
.table-img {
  display: inline-block;
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

.table-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

//gallery -img
.gallery {
  display: inline-block;
  width: 100px;
  height: 80px;
  border-radius: 8px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

//view-component-rendering-images

.multiple-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.multiple-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

//user
.img-user {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.img-user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

//user-profile

.profile-img {
  height: 200px;
  width: 200px;
  display: inline-block;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

//seller
.seller-shop {
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

.seller-shop img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.seller
//header-avatar
.avatar {
  height: 70px;
  width: 70px;
}

.avatar-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//image close-button
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  color: red;
  font-size: 0.75rem;
  line-height: 1;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.close-button:hover {
  background: black;
  color: white;
}

.primary {
  background: linear-gradient(to bottom, #0c8ce9, #3468a7);
  color: white;
}
.seller-login-container {
  border: 0.5px solid #0c8ce9;
}
.primaryout:hover {
  background: linear-gradient(to bottom, #0c8ce9, #3468a7);
  color: white;
}
//seller login-page
.seller-nav-tabs {
  gap: 15px;
  border: none;
  margin-bottom: 20px;
}
.nav-link.active {
  background-color: #0c8ce9 !important;
  color: white !important;
}
.nav-link:hover {
  color: black;
}
.seller-nav-link {
  border: 1px solid #0c8ce9 !important;
  color: black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 430px) {
  .seller-nav-link{
    font-size: 14px;
  }
  .login-vector-img {
    width: 220px;
    height: auto;
  }
  .login-tabs {
    box-shadow: none !important;
  }
  .overlay-container {
    background-color: white !important;
  }
  .card-radius{
    border-radius: none;
  }
}
.seller-login-btn,
.seller-register-btn {
  background-color: #0c8ce9;
  color: white;
  border: none;
  transition: all 0.5s ease;
  font-weight: 500;
}
.seller-login-btn:hover {
  color: #0c8ce9;
  background-color: white;
  border: 0.5px solid #0c8ce9;
}
.primaryTitleColor {
  color: #0c8ce9;
}
.primaryTitleColor:hover {
  color: #0c8ce9;
}
.primaryBgColor {
  background-color: #0c8ce9 !important;
}
.btn:disabled {
  background-color: #0c8ce9;
}
.login-wrapper {
  min-height: 520px;
}
.error-msg {
  margin-top: 0;
}
.form-control:focus {
  box-shadow: 0 0 0 0.15rem #0c8ce954;
  margin-top: 2.5px;
}
.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.15rem rgba(var(--cui-danger-rgb), 0.25);
  margin-top: 2.5px;
}
.gradient-btn , .gradient-textbg{
  background: linear-gradient(to bottom, #0c8ce9, #3468a7) !important;
}


//seller-register
.seller-register-btn:hover {
  background-color: #066fb9f5;
}

//seller-ordertable

.order-tablehead th , .transaction-tablehead th , .product-tablehead th, .invoice-tablehead th {
 background: linear-gradient(to bottom, #0c8ce9, #3468a7);
 color: white;
}
@media screen and (max-width: 430px){
.add-product-btn , .seller-title-font{
  font-size: 14px;
}
}

//seller product 
.seller-product-card{
  border-radius: 16px;
}
@media screen and (max-width: 430px){
.seller-product-card{
  border-radius:  0 !important;
}
}

// seller profile
.dropdown-item:active{
   background: linear-gradient(to bottom, #0c8ce9, #3468a7);
}
// .change-pass-btn{
//   background-color: #FC4D5C;
//   color: white;
// }
.seller-title-font{
  font-size: 16px;
}

//seller edit-product
@media screen and (max-width: 430px){
.edit-prod-btn{
font-size: 13px;
}
}

