<div class="card shadow-sm border-0 rounded-4">
  <!-- Card Header -->
  <div class="card-header d-flex align-items-center gap-2 rounded-top">
    <i class="fas fa-user-cog fs-5"></i>
    <h5 class="mb-0 fw-semibold">Edit Seller</h5>
  </div>

  <!-- Card Body -->
  <div class="card-body bg-light">
    <form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
      <div class="row g-4">
        <!-- Name -->
        <div class="col-md-4">
          <label class="form-label"> Seller Name</label>
          <input type="text" class="form-control" formControlName="name" />
        </div>

        <!-- Shop Name -->
        <div class="col-md-4">
          <label class="form-label">Shop Name</label>
          <input type="text" class="form-control" formControlName="shop_name" />
        </div>

        <!-- Business Category -->
        <div class="col-md-4">
          <label class="form-label">Business Category</label>
          <select class="form-select" formControlName="business_category">
            <option disabled value="">Select category</option>
            <option *ngFor="let category of bussinessCategories" [value]="category.name">
              {{ category.name }}
            </option>
          </select>
        </div>
        <!-- Gender -->
        <div class="col-md-4">
          <label class="form-label">Gender</label>
          <select class="form-select" formControlName="gender">
            <option value="" disabled>Select gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <!-- Mobile -->
        <div class="col-md-4">
          <label class="form-label">Mobile</label>
          <input type="text" maxlength="10" class="form-control" formControlName="mobile" />
        </div>

        <!-- Email -->
        <div class="col-md-4">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" />
        </div>



        <!-- GST -->
        <div class="col-md-4">
          <label class="form-label">GST Number</label>
          <input type="text" class="form-control" formControlName="gst_number" />
        </div>


        <!-- Country -->
        <div class="col-md-4">
          <label class="form-label">Country</label>
          <input type="text" class="form-control" formControlName="country" />
        </div>

        <!-- State -->
        <div class="col-md-4">
          <label class="form-label">State</label>
          <input type="text" class="form-control" formControlName="state" />
        </div>

        <!-- City -->
        <div class="col-md-4">
          <label class="form-label">City</label>
          <input type="text" class="form-control" formControlName="city" />
        </div>

        <!-- Pincode -->
        <div class="col-md-4">
          <label class="form-label">Pincode</label>
          <input type="text" class="form-control" formControlName="pincode" />
        </div>

        <!-- Status -->
        <div class="col-md-4">
          <label class="form-label">Status</label>
          <select class="form-select" formControlName="status">
            <option value="">Select status</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
            <option value="blocked">Blocked</option>
          </select>
        </div>


        <!-- Address -->
        <div class="col-md-12">
          <label class="form-label">Address</label>
          <textarea type="text" class="form-control" formControlName="address"></textarea>
        </div>


        <!-- Profile Image -->
        <div class="col-md-6">
          <label class="form-label">Profile Image</label>
          <input type="file" class="form-control" accept="image/*" (change)="onProfileSelected($event)" />
          <div *ngIf="profilePreview" class="mt-2">
            <span class="profile-img">
              <img [src]="profilePreview" alt="Profile Preview" class="img-thumbnail shadow-sm" />
            </span>
          </div>
        </div>

        <!-- Shop Logo -->
        <div class="col-md-6">
          <label class="form-label">Shop Logo</label>
          <input type="file" class="form-control" accept="image/*" (change)="onLogoSelected($event)" />
          <div *ngIf="imagePreview" class="mt-2">
            <span class="seller-logo">
              <img [src]="imagePreview" alt="Logo Preview" class="img-thumbnail shadow-sm" />
            </span>
          </div>
          <div class="text-danger mt-1" *ngIf="uploadError">
            {{ uploadError }}
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="text-center mt-4">
        <button class="btn btn-primary primary px-4 py-2" type="submit" [disabled]="isSubmitting || sellerForm.invalid">
          <i class="fas fa-save me-2"></i>
          {{ isSubmitting ? "Saving..." : "Update Seller" }}
        </button>
      </div>
    </form>
  </div>
</div>