<!--sidebar-->
<c-sidebar #sidebar1="cSidebar" class="d-print-none sidebar sidebar-fixed border-end" colorScheme="dark" id="sidebar1"
  visible style="    background: linear-gradient(to bottom, #0C8CE9, #3468A7);">
  <c-sidebar-header class="border-bottom" style="
      text-align: center;
      color: #fff;
      font-weight: 700;
      text-transform: capitalize;
      letter-spacing: 2px;
      margin: 0 auto;
      /* width: 100%; */
      text-align: center;
      font-size: 23px;
    ">
    <c-sidebar-brand [routerLink]="['/seller']">
      <img [src]="logoUrl || 'assets/images/etrymartlogo.png'" alt="E-TryMart Logo" class="sidebar-brand-full"
        height="32" />

      <!-- Optional narrow version for collapsed sidebar -->
      <!-- <img
    src="assets/signet.png"
    alt="Signet"
    class="sidebar-brand-narrow"
    height="32"
  /> -->
    </c-sidebar-brand>

    <!-- <c-sidebar-brand [routerLink]="[]">
      <svg [class]="{icon: false}" cIcon class="sidebar-brand-full" height="32" name="logo" title="CoreUI Logo"></svg>
      <svg cIcon class="sidebar-brand-narrow" height="32" name="signet" title="CoreUI Logo"></svg>
    </c-sidebar-brand> -->
  </c-sidebar-header>

  <ng-scrollbar pointerEventsMethod="scrollbar" visibility="hover">
    <c-sidebar-nav [navItems]="navItems" dropdownMode="close" compact />
  </ng-scrollbar>

  <!-- @if (!sidebar1.narrow) {
    <c-sidebar-footer cSidebarToggle="sidebar1" class="border-top d-none d-lg-flex" toggle="unfoldable" style="cursor: pointer;">
      <button cSidebarToggler aria-label="Toggle sidebar fold"></button>
    </c-sidebar-footer>
  } -->
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100">
  <!--app-header-->
  <app-seller-header [cShadowOnScroll]="'sm'" class="mb-sm-4 mb-0 d-print-none header header-sticky p-0 shadow-sm"
    position="sticky" sidebarId="sidebar1" />
  <!--app-body-->
  <div class="body flex-grow-1">
    <c-container breakpoint="lg" class="h-auto  px-3">
      <router-outlet />
    </c-container>
  </div>
  <!--app footer-->
  <app-seller-footer />
</div>